<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Home</title>

<!-- CSS -->
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="assets/css/form-elements.css">
<link rel="stylesheet" href="assets/css/style.css">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

<!-- Favicon and touch icons -->
<link rel="shortcut icon" href="assets/ico/favicon.png">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">

</head>

<body>

<!-- Top menu -->
<nav class="navbar navbar-inverse navbar-no-bg" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="index.html">Bootstrap Multi Step Registration Form Template</a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="top-navbar-1">
			<ul class="nav navbar-nav navbar-right">
				<li>
					<span class="li-text">
						Put some text or
					</span> 
					<a href="#"><strong>links</strong></a> 
					<span class="li-text">
						here, or some icons: 
					</span> 
					<span class="li-social">
						<a href="#"><i class="fa fa-facebook"></i></a> 
						<a href="#"><i class="fa fa-twitter"></i></a> 
						<a href="#"><i class="fa fa-envelope"></i></a> 
						<a href="#"><i class="fa fa-skype"></i></a>
					</span>
				</li>
			</ul>
		</div>
	</div>
</nav>










<!-- Top content -->
<div class="top-content" style="padding-top: 50px;"  id="index">
	
	<div class="inner-bg">
		<div class="container">
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2 text">
					<h1><strong>查询表单</strong></h1>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6 form-box" style="margin-left: 6.5%;">
					
					<div class="registration-form">
						
						<div class="form-top" style="width: 1000px;">
							<div class="form-top-left">
								<p>Query account:</p>
								<div style="    margin: 10px;">
									开始日期：<input type="date" style="margin-right: 50px;     width: 230px;
									border: 3px solid #ddd;" >
									结束日期：<input type="date" style="width: 230px;
									border: 3px solid #ddd;" >
								</div>
								<div style="    margin: 10px;">
									金额筛选：
									<input type="text" placeholder="金额" style="    margin-right: 20px;"> &lt  account  &lt
									<input type="text" placeholder="金额" style="    margin-left: 20px;">
								</div>
								<div style="    margin: 10px;">
									备注筛选：
									<input type="text" placeholder="备注里的关键字">
									<button type="button" style="float: right; " class="btn btn-next" @click="addAccount" >Query</button>
								</div>



							</div>
							<div class="form-top-right">
							</div>
						</div>
						<div class="form-bottom" style="width: 1000px; height: 500px;">
							<ul>
								<li v-for="(item, index) in itemsList" :key="index" @click="showItemDetail(item.itemId)">
									<div class="i-pic limit">
										<p class="title fl">{{item.itemName}}</p>
										<p class="price fl">
											<b>¥</b>
											<strong>{{item.price / 100}}</strong>
										</p>
										<p class="number fl">
											销量<span>{{item.sellCounts}}</span>
										</p>
									</div>
								</li>
							</ul>
							<div id="example-1" v-for="item in items">
								<ul>
								 <li>
								  {{ item.message }}
								 </li>
								</ul>
							</div>
							<div id="app">
								<ul>
									<li v-if="item in items"></li>
									{{item}}
								</ul>
								<hr>
								<ul>
									<li v-for="(student,index) in students">
									{{index+1}}：{{student.name}} - {{student.age}}</li>
								</ul>
								
							</div>

							
						</div>
						
					</div>
					
					
				</div>
			</div>
		</div>
	</div>
	
</div>
Copyright &copy; 2018.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a>

<!-- Javascript -->
<script src="assets/js/jquery-1.11.1.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/js/jquery.backstretch.min.js"></script>
<script src="assets/js/retina-1.1.0.min.js"></script>
<script src="assets/js/scripts.js"></script>

<!--[if lt IE 10]>
	<script src="assets/js/placeholder.js"></script>
<![endif]-->

</body>

</html>